[submodule "CS533_Assignment3_Matmult"]
	path = CS533_Assignment3_Matmult
	url = https://github.com/gmfricke/CS533_Assignment3_Matmult.git
[submodule "matrix-multiplication"]
	path = matrix-multiplication
	url = https://github.com/MartinThoma/matrix-multiplication.git
